<div style="width:(100%); height: (100%)">
    <div fxLayoutAlign="center center">
        <mat-card style="width:400px; min-height: 400px">
            <div fxLayout="column" fxLayoutAlign="stretch stretch">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-title>Twilio-ServiceM8 Job Sync</mat-card-title>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-subtitle> Success </mat-card-subtitle>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p style="text-align: center"> Twilio Sync should now be active</p>
                </div>

                <div fxLayout="column" style="margin-top: 130px" fxLayoutAlign="end center">
                    <mat-card-content>
                        <button mat-raised-button color='primary' (click)="onClick()">Back to ServiceM8</button>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>