<div style="width:(100%); height: (100%)">
    <div fxLayoutAlign="center center">
        <mat-card style="width:400px; min-height: 400px">
            <div fxLayout="column" fxLayoutAlign="stretch stretch">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-title>Twilio-ServiceM8 Job Sync</mat-card-title>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-subtitle> Authorise ServiceM8 </mat-card-subtitle>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p style="text-align: center"> Welcome to the Twilio Sync Add-On</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p style="text-align: center"> To authorise the app's access to your account, click the button below </p>
                </div>
                <div fxLayout="column" style="margin-top: 130px" fxLayoutAlign="end center">
                    <mat-card-content>

                        <button mat-raised-button color='primary' (click)="onClick()">Register ServiceM8 Account</button>

                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>