<div style="width:(100%); height: (100%)">
    <div fxLayoutAlign="center center">
        <mat-card style="width:500px; min-height: 500px">
            <div fxLayout="column" fxLayoutAlign="stretch stretch">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-title>Twilio-ServiceM8 Job Sync</mat-card-title>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-subtitle> Messaging Setup... </mat-card-subtitle>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-card-content>
                        <div fxLayout="column" style="padding-left: 4px" fxLayoutGap="8px" fxLayoutAlign="start start">
                            <div fxLayout="column" fxLayoutGap="8px">
                                <p>
                                    What Twilio number will this apply to?
                                </p>
                                <mat-form-field>
                                    <mat-select placeholder="Twilio Numbers" [(ngModel)]="selectedTwilioNumber" required>
                                        <mat-option *ngFor="let number of twilioNumbers" [value]="number">
                                            {{number}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayoutGap="8px">
                                <p>
                                    What category will the Twilio-made job be?
                                </p>
                                <mat-form-field>
                                    <mat-select placeholder="ServiceM8 Categories" [(ngModel)]="selectedJobCategory" required>
                                        <mat-option *ngFor="let category of servicem8Categories" [value]="category">
                                            {{category}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayoutGap="8px">
                                <mat-checkbox color="primary" (change)="jobStatusReplySelect()">Allow customer to text '!STATUS [JOB_ID]' to get job status?</mat-checkbox>
                                <mat-checkbox color="primary" (change)="jobScheduleReplySelect()">Allow customer to text '!WHEN [JOB_ID]' to get scheduled date job?</mat-checkbox>
                            </div>

                            <div fxLayout="column" fxLayoutGap="8px">
                                <mat-checkbox color="primary" (change)="jobCreationReplySelect()">Use custom auto reply message on ServiceM8 job creation?</mat-checkbox>

                                <div *ngIf="jobCreationReply" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center">
                                        <b> Job Creation Reply SMS Text </b>
                                    </p>
                                    <p style="text-align: center">
                                        <b>Note: </b> you can use "[JOB_ID]" to represent the job ID in your message.
                                    </p>
                                    <mat-form-field style="width: 380px" class="example-full-width">
                                        <textarea rows="8" color="primary" matInput [(ngModel)]="creationReplyText"></textarea>
                                    </mat-form-field>

                                    <mat-error style="margin-top: 8px" *ngIf="jobCreationReplyError">You must provide an SMS message when a job is created.</mat-error>
                                </div>

                                <div *ngIf="!jobCreationReply" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center">
                                        <b> Default Message </b>
                                    </p>
                                    <p style="text-align: center">
                                        {{default_message}}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </mat-card-content>
                </div>


            </div>

            <mat-card-actions>
                <div fxLayoutAlign="center center">
                    <button mat-raised-button color='primary' (click)="saveOptions()">Save</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>