<link rel="stylesheet" href="assets/forms.css">
<div style="width:(100%); height: (100%)">
  <div fxLayoutAlign="center center">




    <mat-card style="width:400px; min-height: 400px">

      <div fxLayout="column" fxLayoutAlign="stretch stretch">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-card-title>Twilio-ServiceM8 Job Sync</mat-card-title>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-card-subtitle> Twilio Registration </mat-card-subtitle>
        </div>


        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-card-content>
            <form [formGroup]="twilioForm" #formDir="ngForm">

              <div [hidden]="formDir.submitted">

                <label>SID NUMBER
                  <span *ngIf="!SidToken.invalid" class="glyphicon glyphicon-ok " style="color:rgb(73, 233, 81)"></span>
                </label>
                <mat-form-field class="form-group" style="width: 380px" class="example-full-width">

                  <input color="primary" id="SidToken" matInput [(ngModel)]="SidToken.value" placeholder="" formControlName="SidToken" required>
                </mat-form-field>
                <div *ngIf="SidToken.invalid && (SidToken.dirty || SidToken.touched)" class="alert alert-danger">

                  <div *ngIf="SidToken.errors.required">
                    Sid Number is required.
                  </div>
                  <div *ngIf="SidToken.errors.minlength">
                    Sid Number Shorter then 34 characters
                  </div>
                  <div *ngIf="SidToken.errors.pattern">
                    This is not a valid Twilio Sid Number
                  </div>

                </div>

                <label>Auth Token
                  <span *ngIf="!AuthToken.invalid" class="glyphicon glyphicon-ok " style="color:rgb(73, 233, 81)"></span>
                </label>
                <mat-form-field class="form-group" style="width: 380px" class="example-full-width">

                  <input color="primary" id="AuthToken" matInput [(ngModel)]="AuthToken.value" formControlName="AuthToken" required>
                </mat-form-field>
                <div *ngIf="AuthToken.invalid && (AuthToken.dirty || AuthToken.touched)" class="alert alert-danger">

                  <div *ngIf="AuthToken.errors.required">
                    Sid Number is required.
                  </div>
                  <div *ngIf="AuthToken.errors.minlength">
                    Sid Number Shorter then 32 characters
                  </div>


                </div>





              </div>
            </form>
          </mat-card-content>

        </div>

        <mat-card-actions>
          <div fxLayoutAlign="center center">
            <button type="submit" class="btn btn-default" [disabled]="twilioForm.invalid" (click)="register()">Submit</button>

          </div>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>